<h1><%= l(:system_notification)%></h1>

<% labelled_tabular_form_for :system_notification, @system_notification, :url =>{:action => 'create'} do |f|  %>
<%= error_messages_for 'system_notification' %>

<div class="box"> 
  <p>
    <%= f.select 'time', SystemNotification::Times.invert.to_a %>
  </p>
  <p>
    <%= f.text_field 'subject'-%>
  </p>
  <p>
    <%= f.text_area 'body', :rows => 7 -%>
  </p>
  <p id="user_list">
    <%= render :partial => 'users', :object => @system_notification.users %>
  </p>

</div>
<%= submit_tag l(:button_send) -%>
<% end -%>

<%= observe_field 'system_notification_time',
:url => { :action => :users_since },
:update => :user_list,
      :with => 'time'
      %>
